body {
    background: linear-gradient(to bottom, #007bff, #4da6ff, #99c2ff);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

.card {
    background: white;
    border-radius: 10%;
    width: 400px;
    height: 700px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.value {
    font-size: 200px;
    font-weight: bold;
    background-image: linear-gradient(to right, red, blue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.suit-top{
    font-size: 120px;
    position: absolute;
    top: 5%;
    left: 10%;
    background-image: linear-gradient(to right, red, blue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.suit-bottom{
    font-size: 120px;
    position: absolute;
    bottom: 5%;
    right: 10%;
    background-image: linear-gradient(to right, red, blue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

img {
    height: 400px;
    width: 300px;
  }

#refresh-icon {
    position: absolute;
    bottom: 5%;
    left: 5%;
    height: 50px;
    width: 50px;
    cursor: pointer;
  }

#refresh-icon:hover {
    transform: scale(1.1);
  }
